<ion-view title="Activities">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.addActivity" id="activities-button3" class="button button-positive  button-block icon-left ion-android-add-circle">Log new activity</a>
        </div>
        <ion-list></ion-list>
        <div class="button-bar">
            <button id="activities-button9" class="button button-stable button-small button-block">All</button>
            <button id="activities-button10" class="button button-stable button-small button-block">Last Week</button>
            <button id="activities-button11" class="button button-stable button-small button-block">Last 2 Wks</button>
        </div>
        <div class="list card">
            <div class="item item-divider">Go for a run</div>
            <div class="item item-body">
                <div></div>
                <div>
                    <ul>
                        <li>cardio</li>
                        <li>vigorous intensity</li>
                        <li>30 minutes</li>
                    </ul>
                </div>
                <div class="button-bar"></div>
            </div>
            <div class="item item-divider">Tuesday, 3/7 morning</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lift weights</div>
            <div class="item item-body">
                <div>
                    <ul>
                        <li>strength</li>
                        <li>vigorous intensity</li>
                        <li>30 minutes</li>
                    </ul>
                </div>
                <div></div>
                <div class="button-bar"></div>
            </div>
            <div class="item item-divider">Tuesday, 3/7 afternoon</div>
        </div>
    </ion-content>
</ion-view>