<ion-view title="Add a goal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Choose an activity</span>
                <select></select>
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Date</span>
                <select></select>
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Time of day</span>
                <select></select>
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Repeating</span>
                <select></select>
            </label>
        </form>
        <button id="addAGoal-button18" class="button button-positive  button-block">Save goal</button>
        <div>
            <p>Don't see an activity you'd like listed?</p>
        </div>
        <a ui-sref="menu.addNewActivityToGoal" id="addAGoal-button13" class="button button-stable button-small button-block icon-left ion-android-add-circle">Click here to add a new one</a>
    </ion-content>
</ion-view>