<ion-view title="Add a goal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Choose an activity</span>
                <select>Go for a walk (light)</select>
                <select>Go for a walk (moderate)</select>
                <select>Lift weights (15 lbs / 100 reps)</select>
                <select>Pull weeds</select>
                <select>Use the stairs</select>
                <select>Reach 10,000 steps</select>
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Date</span>
                <input type="date" name="date">
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Time of day</span>
                <input type="date" name="time">
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Repeating</span>
                <select>Daily</select>
                <select>Weekly</select>
            </label>
        </form>
        <button id="addAGoal-button18" class="button button-positive  button-block">Save goal</button>
        <div>
            <p>Don't see an activity you'd like listed?</p>
        </div>
        <a ui-sref="menu.addNewActivityToGoal" id="addAGoal-button13" class="button button-stable button-small button-block icon-left ion-android-add-circle">Click here to add a new one</a>
    </ion-content>
</ion-view>
