<ion-view title="Goals">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.addAGoal" id="goals-button15" class="button button-positive  button-block icon-left ion-android-add-circle">Add new goal</a>
        </div>
        <div class="list card">
            <div class="item item-divider">Go for a walk</div>
            <div class="item item-body">
                <div class="button-bar">
                    <button id="goals-button20" class="button button-balanced  button-block">Finish</button>
                    <button id="goals-button21" class="button button-assertive  button-block">Delete</button>
                </div>
            </div>
            <div class="item item-divider">3/17 - afternoon</div>
        </div>
    </ion-content>
</ion-view>