<ion-view title="Help">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <h2>We’re happy to help!</h2>

            <p>Click below to send a message to the research staff.</p>

            <p>Please remember that our staff works M-F 9am-5pm.</p>

            <p>They will reach out as soon as possible!</p>
        </div>
        <div class="list card">
            <div class="item item-divider">Send your message</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Enter your message text here!</span><textarea placeholder=""> </textarea>
                    </label>
                </form>
                <button id="help-button8" class="button button-positive  button-block">Send Message</button>
            </div>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>