<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:;">
            <img src="img/Quer9WxUSFCTJXzgQgNj_Screen Shot 2016-03-14 at 4.55.24 PM.png" width="100%" height="auto">
        </div>
        <h1></h1>
        <a ui-sref="menu.goals" id="home-button22" class="button button-positive  button-block">Goals</a>
        <a ui-sref="menu.activities" id="home-button6" class="button button-positive  button-block">Activities</a>
        <a ui-sref="menu.help" id="home-button7" class="button button-calm  button-block">Help</a>
    </ion-content>
</ion-view>